@model Person

<h4 class="text-center">Personel Güncelleme</h4>

<form method="post" asp-controller="Home" asp-action="Edit">
    <div class="row">
        <div class="col-md-3">
            <label class="form-label" asp-for="FirstName">İsim</label>
            <input class="form-control" type="text" asp-for="FirstName" />
        </div>
        <div class="col-3">
            <label class="form-label" asp-for="LastName">Soyisim</label>
            <input class="form-control" type="text" asp-for="LastName" />
        </div>
        <div class="col-3">
            <label class="form-label" asp-for="PhoneNumber">Telefon</label>
            <input class="form-control" type="text" asp-for="PhoneNumber" />
        </div>
        <div class="col-3">
            <label class="form-label" asp-for="Company">Şirket</label>
            <input class="form-control" type="text" asp-for="Company" />
        </div>
    </div>
    <div class="mt-3 text-center">
        <button type="submit" class="btn btn-primary">Güncelle</button>
    </div>
</form>
